body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('./ghanaflag.jpg');
    background-size: cover;
    color: white;
    font-size: large;
    font-weight: normal;
}

#year-input {
    border-radius: 50px;
    width: 150px;
    height: 30px;
}
#month-input {
    border-radius: 50px;
    width: 150px;
    height: 30px;
}
#date-input {
    border-radius: 50px;
    width: 150px;
    height: 30px;
}